@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    background: #f2f2f2;
    color: #333;
    font-family: "Nunito";
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}
a {
    color: #333;
    text-decoration: none;
}


.navigation {
    display: flex;
    margin: 10px auto 50px;
    padding: 10px 0;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.navigation-primary {
    display: flex;
}

.navigation-secondary {
    display: flex;
    margin-left: 2%;
    margin-top: auto;
    transform: translateY(20px);
}
.navigation-secondary ul {
    display: flex;
    margin: 10px;
    padding: 0px;
    list-style: none;
}
.navigation-secondary li {
    display: flex;
    padding: 8px;
}
.navigation-secondary a:hover {
    color: #0860d3;
}

.navigation-settings {
    display: flex;
    margin-left: auto;
    margin-top: auto;
}


footer {
    display: block;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    color: #777;
    border-top: 1px solid #eaeaea;
}